name: Preview Updater

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
    contents: write
    pull-requests: write

jobs:
    Preview:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Update banner
                uses: TheDragonCode/github-preview-updater@v1
                id: preview
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}

            - name: Merge PR
              if: steps.preview.outputs.pullRequestNumber != ''
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: gh pr merge --merge --delete-branch ${{ steps.preview.outputs.pullRequestNumber }}
